<html>
    <head></head>
    <body>
        <h1>Node Blog</h1>
        <form action="add_post" method="POST">
			<p>Subject</p>
			<p>
			<input type = "text" name = "subject"/>
			</p>
			<p>Body</p>
			<p>
            <textarea name="body" rows="10" cols="80"></textarea>
			</p>
			<p>
            <input type="submit" value="Add Post" />
			</p>
        </form>
    </body>
</html>

