<form method="post" action="login">
<div class="box">
<h1>Dashboard</h1>
<% if ( error.length > 0 ) { %>
  <p>Message: <%= error %> </p>
<% } %>

	<input type="email" name="email" value="" onFocus="field_focus(this, 'email');" onblur="field_blur(this, 'email');" class="email" />
  
	<input type="password" name="password" value="" onFocus="field_focus(this, 'password');" onblur="field_blur(this, 'email');" class="email" />
  
	<p>
	<input type="submit" value="login">

<a href="#"><div id="btn2">Sign Up</div></a> <!-- End Btn2 -->
  
</div> <!-- End Box -->
  
</form>

<p>Forgot your password? <u style="color:#f1c40f;">Click Here!</u></p>
  
